<div class="content-toolbar">
  <input type="text" ng-model="search" class="search-query pull-right" placeholder="Search">
  <h3>Change Quizzes</h3>
</div>

<div class="content-wrapper">
  <div class="content">
    <table class="table table-bordered table-striped">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Summary</th>
        <th>Questions</th>
        <th></th>
      </tr>
      <tr ng-repeat="quiz in quizzes | filter: search">
        <td>{{$index+1}}</td>
        <td class="bolded">{{quiz.name}}</td>
        <td>{{quiz.summary}}</td>
        <td>{{quiz.question_count}}</td>
        <td><a href="#/crud/{{quiz.id}}"><i class="icon-pencil"></i></a></td>
      </tr>
    </table>
    <a href="#/crud/new_quiz" class="pull-right"><i class="icon-plus-sign"> Add a new quiz</i></a>
    </br>
  </div>
</div>