<div class="content-toolbar">
  <h3 ng-show="question.id">Editing quiz/{{quiz_id}}/question/{{question.id}}</h3>
  <h3 ng-hide="question.id">Create a new question for quiz/{{quiz_id}}</h3>
</div>

<div class="content-wrapper">
  <div class="content">
    <form name="form">
      <label>Question type:</label>
      <select ng-model="data.type" ng-options="item for item in options" required> 
      </select>

      <div ng-switch="data.type">
        <div ng-switch-when='Multiple choice'>
          <div class="control-group" ng-class="{error: form.question.$invalid}">
            <label>Question</label>
            <input class="input-xxlarge" type="text" name="question" ng-model="data.question" required>
            <span ng-show="form.question.$error.required" class="help-inline">
                Required</span>
          </div>
          <ul>
            <li ng-repeat="option in data.options">
              <input ng-model="option.value" type="text" placeholder="Some option" required>
              <a ng-click="remove($index, data.options)">
                <i class="icon-minus-sign"></i>
              </a>
            </li>
          </ul>

          <a ng-click="addOption()">
            <i class="icon-plus-sign"> Add a new option</i>
          </a>
          </br>

          <label>Correct answers:</label>
          <select multiple ng-model="question.answer">
            <option ng-repeat="option in data.options" value="{{option.value}}">
              {{option.value}}
            </option>
          </select>
        </div>
        <div ng-show-default='Word answer'>

        </div>
      </div>

      <pre>{{ question || json }}</pre>
     
    </form>
  </div>
</div>

<div class="content-toolbar clearfix">
  <a href="#/crud/{{quiz_id}}" class="btn">Back</a>
  <button ng-click="save()" ng-disabled="isClean() || form.$invalid"
          class="btn btn-primary">Save</button>
  <button ng-click="destroy()"
          ng-show="question.id" class="btn btn-danger">Delete</button>
</div>