<div class="content-toolbar">
  <input type="text" ng-model="search" class="search-query pull-right" placeholder="Search">
  <h3>Solve quizzes</h3>
</div>

<div class="content-wrapper">
  <div class="content">
    <table class="table table-bordered table-striped">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Summary</th>
        <th>Questions</th>
      </tr>
      <tr ng-repeat="quiz in quizzes | filter: search">
        <td>{{$index+1}}</td>
        <td class="bolded">
          <a href="#/play/start/{{quiz.id}}">{{quiz.name}}</a>
        </td>
        <td>{{quiz.summary}}</td>
        <td>{{quiz.question_count}}</td>
      </tr>
    </table>
    </br>
  </div>
</div>