<div class="content-toolbar">
  <progressbar done="quiz.answers_given.length" total="quiz.question_count">
  </progressbar>
</div>
<div class="content-wrapper">
  <div class="content">
    <question data="question"></question>
    <div ng-show="debug">
      <pre>quiz = {{quiz | json}}</pre>
      <pre>question = {{question | json}}</pre>
    </div>
  </div>
</div>
<div class="content-toolbar clearfix">
  <button class="btn pull-left" ng-click="checkAnswer()" ng-hide="checked">Check answer</button>
  <div class="answer pull-left" ng-show="answer">
    <div class="error" ng-show="user_answer != answer">
      Got: {{ user_answer }},
      </br>
      Expected: {{ answer }}
    </div>
    <div class="success" ng-show="user_answer == answer">
      You guessed it! :)
    </div>
  </div>
  <button class="btn btn-success pull-right" ng-click="route.reload()" ng-disabled="!checked">
    Next question
  </button>
</div>