<!DOCTYPE html>
<html ng-app="MusicQuiz">
<head>
  <title>AngularMusicquiz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">MusicQuiz</a>
        <ul class="nav">
          <location path="/">Home</location>
          <location path="/crud" loggedin>CRUD</location>
        </ul>
        <ul class="nav pull-right">
          <li>
            <div ng-show="session.isLoggedIn()" class="navbar-text">
              Signed in as <strong>{{ session.getUser().name }}</strong>!
              <a ng-click="session.logout()">Sign out</a>
            </div>
            <div ng-hide="session.isLoggedIn()" class="navbar-text">
              <a ng-click="session.login()">Sign in with Facebook</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="main-container" class="container">
    <div ng-view>
    </div>
  </div>

  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    window.fbAsyncInit = function() {
      console.log("init FB");
      FB.init({
        appId      : '600450356645923',
        status     : true,
        cookie     : true,
        xfbml      : true,
        oauth      : true
      });
      $('#sign_in').click(function(e) {
        e.preventDefault();
        FB.login(function(response) {
          window.location = '/auth/facebook/callback';
        });
      });

      $('#sign_out').click(function(e) {
        FB.logout();
      });
    };

  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
  </script>
</body>
</html>
